<li class='list'>
  <div class='question'>
    <%# 項番 %>
    <%= question.number %>.
    <%# 質問文 %>
    <%= question.text %>
    <br>
    <%# ラジオボタンの繰り返し %>
    <div class='question-radio'>
      <% question.valuation.times do |num| %>
        <%# ラジオボタン %>
        <%= radio_button(:answer ,question.number, 5-num) %>
        <label for=<%= "answer_#{question.number}_#{5-num}" %> >
          ★
        </label>
      <% end %>
    </div>
  </div>
</li>