<%= render "shared/header"%>
<div class='main'>
  <%# 質問一覧 %>
  <div class='problem-contents'>
    <ul class='problem-lists'>
      <%# 部分テンプレートで、質問一覧を表示する %>
      <%= render partial: "problem", collection: @problems %>
    </ul>
  </div>
</div>