<header>
    <div class='problem-header'>
      <div class='problem-header-title'>
        <%= @scores[0].problem.title %>
      </div>
    </div>
</header>
<%= render 'shared/bar_chart', model: @sum_list_js %>
<%= render partial: "shared/radar_chart", collection: @scores_js, as: "model" %>
