<div>
<canvas id='model'>></canvas>
<script>
// グローバル変数にモデルデータを格納する
// var modeldata = modeljson_parse('model');
/** 
 * モデルをJSON.parseする
 */
function modeljson_parse(scores) {
    scores = JSON.stringify(scores);
    scores = scores.substr(1, (scores.length - 2));
    scores = unEscapeHtml(scores);
    scores = JSON.parse(scores);
    return scores;
}
// アンエスケープ処理
function unEscapeHtml(str) {
    str = str.replace(/(&gt;)/g, '>');
    str = str.replace(/(&lt;)/g, '<');
    str = str.replace(/(&#092;)/g, '\\');
    str = str.replace(/(&quot;)/g, '"');
    str = str.replace(/(&#39;)/g, "'");
    str = str.replace(/(&amp;)/g, '&');
    return str
}

// 合計の設定
var sum_data = []
// 区分
var labels = []

// modeldata.forEach((elem, index) => {
//     sum_data.push(elem.sum);
//     labels.push(elem.division.text);
// });

var ctx = document.getElementById('model');
var myChart = new Chart(ctx, {
  type: 'bar',
  data: {
    labels: ["1回目","2回目","","","","","","",""],
    datasets: [{
      label: '賢者スケール',
      data: [50,70,,,,,,,],
      backgroundColor: "rgba(0,0,200,0.4)",
      borderColor: "rgba(0,0,200,1)",
      borderWidth: 1
    }]
  },
  options: {
    scales: {
        yAxes: [{
            ticks: {
                max: 120,
                beginAtZero:true
            },
        }]
    }
  }
});
</script>
</div>