.score-create{
  padding: 0 5vw;
  height: calc(100vh - 100px);
  overflow: scroll;
}
.score-create-info{
  background-color: #DCF2FD;
  border-radius: 4px;
  border: 4px solid #76D6FF;
  margin-bottom: 4px;
}
.score-create-text{
  white-space: pre-wrap;
  margin: 0 10px;
  overflow: scroll;
}
.scores-main{
  display: flex;
  justify-content: space-between;
  overflow: scroll;
}
.scores-info{
  background-color: #DCF2FD;
  border-radius: 4px;
  border: 4px solid #76D6FF;
  margin-bottom: 4px;
  width: calc(100% - 570px);
  min-width: 300px;
}
.score-sum,.score-up,.score-down{
  background-color: #DCF2FD;
  border-radius: 4px;
  border: 4px solid #76D6FF;
  margin: 10px;
  padding: 5px 0;
}
.score-sum{
  font-size: 25px;
  font-weight: bold;
}
.score-up{
  font-size: 18px;
}
.score-down{
  font-size: 15px;
}
.score-sum-list,.score-up-list,.score-down-list{
  display: flex;
  justify-content: space-between;
  margin: 5px 4px;
  border-bottom: 1px solid black;
}
.scores-main-chart{
  width: 570px;
  min-width: 570px;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.reader-chart{
  max-width: 800px;
  min-width: 800px;
}
.score-up-text{
  font-size: 20px;
  color: red;
}
.score-down-text{
  font-size: 20px;
  color: blue;
}
.score-point{
  min-width: 50px;
  font-weight: bold;
}